h1 {
    position: center;
    margin: 50px;
    color: white;
}

.form {
    margin: 50px;
    color: white;
    font-size: 27px;
}

.flex1 {
    display: flex;
    justify-content: space-around;
    margin: 20px;

}

.flex2 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.flex3 {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.flex4 {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.flex5 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.button {
    background-color: #c935bb;
    font-size: 27px;
    color: white;
    width: 150px;
    height: 150px;
    border: 5px solid black;
}

input {
    background-color: white;
    text-align: center;
    font-size: 27px;
}

select {
    background-color: white;
    text-align: center;
    font-size: 27px;
}